<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand"><%= link_to(image_tag('logo-luna.png', alt: 'Brand', height: "150"), root_path, class: 'navbar-brand')%></h3>
          <nav class="nav nav-masthead">
            <a class="nav-link nav-social" href="https://www.instagram.com/luna_boutique.cl/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a class="nav-link nav-social" href="https://www.instagram.com/lunaaccesorioscl/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          </nav>
        </div>
      </div>
      <br>
      <div class="inner cover">
        <h1 class="cover-heading">Luna Boutique</h1>
        <h5 class="sub-header"> Proximamente - Marzo </h5>
        <br>
        <p class="lead cover-copy">
          Más que productos, un estilo de vida.
        </p>
        <p class="lead">
          <a href="https://www.instagram.com/lunaaccesorioscl/" class="btn btn-lg btn-default btn-notify" target="_blank" >Comprar accesorios</a>
          <a href="https://www.instagram.com/luna_boutique.cl/" class="btn btn-lg btn-default btn-notify" target="_blank">Comprar ropa</a>
        </p>
      </div>
      <div class="mastfoot">
        <div class="inner">
            <p>© Luna.</p>
        </div>
      </div>
  </div>
</div>
